# === Maven ===
target/
.mvn/wrapper/maven-wrapper.jar
*.jar
*.war
*.class
*.log

# === Spring Boot 설정 무시 ===
*.properties
application.properties
application-*.properties
.env

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr
.sts4-cache
.apt_generated
.springBeans

# === Eclipse / STS ===
.classpath
.project
.factorypath
.settings/

# === VS Code ===
.vscode/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === Build Output ===
build/
out/

# === OS ===
.DS_Store
Thumbs.db

# === 기타 ===
HELP.md
.gitignore
